<div class="contact">

    <div class="title">
        <div class="top-content my-container">
            <h1>CONTACT</h1>
            <p>Pour financer les dépenses liées à l’organisation d’événements, à l’achat de matériel, au fonctionnement de ce site, etc, nous avons besoin du soutien financier de chacun(e) d’entre vous</p>
        </div>
    </div>

    <div class="content my-container">

        <div class="sharing-ways">
            <div class="ways-contener">
                
                <a class="whatsapp">
                    <i class="pi pi-whatsapp"></i> 
                    (+237) 612345678 / (+237) 712345678
                </a>

                <a class="facebook">
                    <i class="pi pi-facebook"></i> 
                    @YvesTlava237
                </a>

                <a class="twitter"> 
                    <i class="pi pi-twitter"></i> 
                    @YvesTlava237
                </a>

                <a class="instagram"> 
                    <i class="pi pi-instagram"></i> 
                    @YvesTlava237
                </a>

                <a>
                    <i class="pi pi-envelope"></i> 
                    contact@yevestsala2022.com
                </a>

                <a>
                    <i class="pi pi-phone"></i> 
                    (+237) 912345678 / (+237) 712345678
                </a>
            </div>
        </div>
        
    </div>
</div>
