<div class="contact">

    <div class="title">
        <div class="top-content my-container">
            <h1>CONTACT</h1>
            <p>Pour m'informer et suivre Yves Tsala 2022</p>
        </div>
    </div>

    <div class="content my-container">

        <div class="contact-ways">
            <div class="ways-contener">
                
                <a class="whatsapp">
                    <i class="pi pi-whatsapp"></i> 
                    +237 670 893 747
                </a>

                <a class="facebook" href="https://www.facebook.com/yvestsala2022" target="_blank">
                    <i class="pi pi-facebook"></i> 
                    @yvestsala2022
                </a>

                <a class="twitter" href="https://twitter.com/yvestsala2022" target="_blank"> 
                    <i class="pi pi-twitter"></i> 
                    @yvestsala2022
                </a>

                <a class="instagram" href="https://www.instagram.com/yvestsala2022/" target="_blank"> 
                    <i class="pi pi-instagram"></i> 
                    @yvestsala2022
                </a>

                <a href="mailto:info@yvestsala2022.com">
                    <i class="pi pi-envelope"></i> 
                    info@yvestsala2022.com
                </a>

                <a href="tel:+237670893747">
                    <i class="pi pi-phone"></i> 
                    +237 670 893 747
                </a>
            </div>
        </div>
        
    </div>

</div>
