$colorBlue: #15385c;

.contact{
    display: flex;
    flex-direction:column;
    width: 100%;
    align-items: center;
    min-height: 100vh;

    .title{
        width: 100%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: $colorBlue;

        .top-content{

            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;
            justify-content: center;

            h1{
                color: #ed6e34;
                width: 460px;
                text-align: center;
                margin-top: 90px;
                font-size: 2.5em;
                margin-bottom: 30px;
            }

            p{
                max-width: 80%;
                text-align: center;
                color: white;
                line-height: 28px;
            }
        }
    }

    .content{
        padding-top: 5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;

        .contact-ways{
            background: white;
            box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
            padding: 50px 100px;
            border-radius: 10px;
            top: -120px;
            position: relative;

            .ways-contener{
                border-radius: 5px;
                border: 1px solid #aeaeae;
                width: 440px;

                a{
                    text-decoration: none;
                    padding: 15px 15px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    border-bottom: 1px solid #aeaeae;
                    width: 100%;
                    font-size: 1.05em;
                    cursor: pointer;
                    color: black;

                    &:hover{
                        box-shadow: hsla(18, 91%, 59%, 0.826) 0px 3px 8px;
                    }

                    i{
                        margin-right: 10px;
                        font-size: 1.7em;
                    }

                    &:last-child{
                        border-bottom: none;
                    }

                }

                .whatsapp{
                    i{
                        color: #0c9e04;
                    }
                }

                .facebook{
                    i{
                        color: #1778f2;
                    }
                }

                .twitter{
                    i{
                        color: #3aa1f2;
                    }
                }
                .instagram{

                    i{
                        color: purple;
                    }

                }
            }
        }
        
    }
}

@media all and (max-width: 1180px){

    .contact{

        .content{

            .contact-ways{
                padding: 45px 75px
            }
        }
        
    }
}

@media all and (max-width: 770px){

    .contact{
        .content{
            .contact-ways{
                padding: 0;
                position: unset;
                margin-bottom: 100px;

                .ways-contener{
                    width: 340px;
                }
            }
        }
    }
}

@media all and (max-width: 520px){

    .contact{
        .title{
            min-height: fit-content;
            .top-content{
    
    
                h1{
                    width: 100%;
                    font-size: 2em;
                    margin-bottom: 25px;
                }
    
                p{
                    max-width: 100%;
                    line-height: 25px;
                    margin-bottom: 10px;
                }
            }
        }
        .content{
            .contact-ways{
                width: 80%;
                margin-bottom: 60px;

                .ways-contener{
                    width: 100%;
                }
            }
        }
    }
}

@media all and (max-width: 425px){

    .contact{
        .content{
            .contact-ways{
                width: 100%;

                .ways-contener{

                    a{
                        padding: 15px 15px;
                        font-size: 1em;
                        cursor: pointer;
                        color: rgb(41, 41, 41);
                        justify-content: center;
                        &:hover{
                            box-shadow: hsla(18, 91%, 59%, 0.826) 0px 3px 8px;
                        }
    
                        i{
                            margin-right: 10px;
                            font-size: 1.5em;
                        }
    
                        &:last-child{
                            border-bottom: none;
                        }
    
                    }
                }
            }
        }
    }
}




    