<div class="donates">

    <div class="title">
        <div class="top-content my-container">
            <h1>JE FAIS UN DON</h1>
            <p>Pour financer les dépenses liées à l’organisation d’événements, à l’achat de matériel, au fonctionnement de ce site, etc, nous avons besoin du soutien financier de chacun(e) d’entre vous</p>
        </div>
    </div>
    <div class="content my-container">

        <h3 class="first">Basic</h3>
        <p-steps [model]="items"></p-steps>
        
    </div>
</div>
