<div class="footer">
    <div class="content my-container">
        <div class="top">
            <div class="left">
                <a routerLink="">NOMDEDOMAINECHOISI.COM</a>
                <p class="summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, numquam corrupti blanditiis incidunt illum velit. Nam ad repellat rem magnam, ab quibusdam voluptas porro voluptates deserunt. Tempore facilis obcaecati nisi?</p>
                <p class="slogan">Ici apparaitra le slogan !</p>
            </div>
            <div class="right">
                <div class="social-medias">
                    <i class="pi pi-facebook"></i>
                    <i class="pi pi-twitter"></i>
                    <i class="pi pi-youtube"></i>
                    <i class="pi pi-instagram"></i>
                </div>
    
                <button class="donate">
                    Faire un don
                </button>
    
                <button class="share">
                    <i class="pi pi-share-alt"></i>
                    partager la campagne
                </button>
    
                <nav>
                    <ul>
                        <li><a>Accueil</a></li>
                        <li><a>Programme</a></li>
                        <li><a>Agenda</a></li>
                        <li><a>Nous contacter</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="bottom">
            © 2022 Yves TSALA
        </div>

        
    </div>
</div>
