<div class="footer">
    <div class="content my-container">
        <div class="top">
            <div class="left">
                <p class="slogan">DRAW A NEW VISION</p>
                <p class="summary">Chers basketteurs, chers amoureux de la balle orange, avec vous je veux redorer le blason du basketball camerounais.</p>
                <p class="summary">Je suis votre candidat</p>
                <p class="summary">Je suis l'homme de la situation</p>
                <p class="summary">Je serais votre nouveau président</p>
                
            </div>
            <div class="right">
                <div class="social-medias">
                    <a href="https://www.facebook.com/yvestsala2022" target="_blank"><i class="pi pi-facebook"></i></a>
                    <a href="https://twitter.com/yvestsala2022" target="_blank"><i class="pi pi-twitter"></i></a>
                    <a href="https://www.youtube.com/channel/UCqWnDOIRZ1_xnt9f8qGjRag" target="_blank"><i class="pi pi-youtube"></i></a>
                    <a href="https://www.instagram.com/yvestsala2022/" target="_blank"><i class="pi pi-instagram"></i></a>
                </div>
    
                <button class="donate" routerLink="/faire-un-don">
                    Faire un don
                </button>
    
                <button class="share" routerLink="/partager-la-campagne">
                    <i class="pi pi-share-alt"></i>
                    partager la campagne
                </button>
    
                <nav>
                    <ul>
                        <li><a routerLink="">Accueil</a></li>
                        <li><a routerLink="/programme">Programme</a></li>
                        <li><a routerLink="/agenda">Agenda</a></li>
                        <li><a routerLink="/nous-contacter">Nous contacter</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="bottom">
            © 2022 Yves Tsala
        </div>

        
    </div>
</div>
