$colorBlue: #15385c;

header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 9999;
    height: 5.5em;
    padding-top: 10px ;
    padding-bottom: 10px;
    color: $colorBlue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: white;

    .content{

        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
        
        .logo{
            font-size: 1.8em;
            cursor: pointer;
            text-decoration: none;
            font-weight: 900;
            color: $colorBlue;
            span{
                color: #f56f36;
            }
        }

        .header-right{

            display: flex;
            align-items: center;
            font-weight: 480;
            justify-content: center;
            font-size: 1em;
    
            nav{

                display: flex;
                justify-content: center;
                align-items: center;

                ul{
                    display: flex;
                    list-style: none;
                    justify-content: center;
                    align-items: center;
                    margin: 0;
                
                    li{
                        margin-left: 7.5px;
                        cursor: pointer;

                        a{
                            text-decoration: none;
                            padding: 10px 20px;
                            color: $colorBlue;
                            border-radius: 3px;
                            transition: all 0.3s ease-in-out;
                            
                            &:hover{
                                background-color: $colorBlue;
                                color: white;
                            }
                        }

                        .active-link{
                            background: $colorBlue;
                            color: white;
                        }
                    }
                    
                }

                .socials{
                    border-left: 1px solid $colorBlue;
                    margin-left: 5px;

                    li{
                        margin-left: 25px;

                        a{
                            padding: 0;
                            border-radius: 0;
                            
                            &:hover{
                                background-color: white;
                                color: #15385c;
                                
                                i{
                                    transform: translateY(-10px);
                                }
                            }

                            i{
                                font-size: 1.15em;
                            }
                            
                        }
                    }   
                }

                button{
                    border: none;
                    background: none;
                    outline: none;
                    margin-left: 15px;
                    cursor: pointer;
                    position: relative;
                    width: 87px;
                    height: 48px;

                    &:hover{
                        
                        span{
                            background-color: white;
                            color: #f56f36;
                            

                            fa-icon{
                                margin-left: 3px;
                            }
                        }
                    }

                    span{
                        white-space: nowrap;
                        color: white;
                        background: #f56f36;
                        border: 2px solid #f56f36;
                        font-size: 1em;
                        white-space: nowrap;
                        border-radius: 2px;
                        padding: 10px 20px;

                        fa-icon{
                            margin-left: 3px;
                        }
                    }

                    .menus{
                        position: absolute;
                        top: 100%;
                        right: 0;
                        background-color: white;
                        display: flex;
                        flex-direction: column;
                        border: 1px solid #828282;
                        align-items: flex-end;
                        padding: 10px;

                        a{
                            text-decoration: none;
                            padding: 10px 15px;
                            white-space: nowrap;
                            width: 100%;
                            text-align: right;
                            color: #15385d;
                            border-radius: 2px;
                            margin-top: 2px;

                            &:hover{
                                background: #15385d;
                                color: white;
                            }
                        }

                        .active-link{
                            background: $colorBlue;
                            color: white;
                        }
                    }
                    
                }

            }    
        }

        .burger{
            display: none;
            button{
                background: none;
                border: none;
                outline: none;
                color: #15385d;
                border-radius: 50%;

                &:hover{
                    background: #15385c;
                    border: none;
                    outline: none;
                    color: white;
                }
            }
        }
    }

    p-dialog{

        .p-dialog{
            margin: 0 !important;
            width: 100%;
            padding-bottom: 0;

            .p-dialog-header{
                display: none;
            }

            .p-dialog-content{
                height: 100%;
                padding-top: 35px !important;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                background-color: #15385c;
                border-top: 2px solid white;
                padding: 20px;

                nav{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    padding-bottom: 7em;
                    
                    ul{
                        list-style: none;
                        li{
                            text-align: end;
                            margin-bottom: 30px;
                            a{
                                text-decoration: none;
                                color: white;
                            }
                            a:hover,
                            .active-link{
                                color: #15395e;
                                padding: 7px 10px;
                                background: white;
                                border-radius: 3px;
                            }
                        }    
                    }

                    button{
                        border: none;
                        background: none;
                        outline: none;
                        margin-left: 15px;
                        cursor: pointer;
                        position: relative;
                        width: 87px;
                        height: 48px;

                        &:hover{
                            
                            span{
                                background-color: white;
                                color: #f56f36;
                                

                                fa-icon{
                                    margin-left: 3px;
                                }
                            }
                        }

                        span{
                            white-space: nowrap;
                            color: white;
                            background: #f56f36;
                            border: 2px solid #f56f36;
                            font-size: 1em;
                            white-space: nowrap;
                            border-radius: 2px;
                            padding: 10px 20px;

                            fa-icon{
                                margin-left: 3px;
                            }
                        }

                        .menus{
                            position: absolute;
                            top: 100%;
                            right: 0;
                            background-color: white;
                            display: flex;
                            flex-direction: column;
                            border: 1px solid #828282;
                            align-items: flex-end;
                            padding: 10px;

                            a{
                                text-decoration: none;
                                padding: 10px 15px;
                                white-space: nowrap;
                                width: 100%;
                                text-align: right;
                                color: #15385d;
                                border-radius: 2px;
                                margin-top: 2px;

                                &:hover{
                                    background: #15385d;
                                    color: white;
                                }
                            }

                            .active-link{
                                background: $colorBlue;
                                color: white;
                            }
                        }
                    }
                }

                .socials{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    display: flex;
                    align-items: flex-end;
                    color: white;

                    p{
                        width: 100%;
                        padding-bottom: 20px;
                        border-bottom: 1px solid white;
                        text-align: right;
                    }

                    ul{
                        display: flex;
                        list-style: none;
                        margin-top: 20px;

                        li{
                            margin-left: 20px;
                            
                            a{
                                color: white;
                                
                                i{
                                    font-size: 1.25em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

p-dialog .p-dialog-mask.p-component-overlay {
    z-index: 12 !important ;
    position: fixed;
    top: 4.5em;
    left: 0;
    width: 100%;
    height: 100%;
}

@media all and (max-width: 1010px){

    header{
        height: 4.5em;

        .content{

            .header-right{

                nav{
                    .socials{
                        display: none;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 960px){

    header{
        height: 4.5em;

        .content{

            .logo{
                font-size: 1.6em;
            }

            .header-right{
                font-weight: 450;
                font-size: 14px;

                nav{

                    ul{
                        li{
                            a {
                                padding: 3px 8px;
                            }
                        }
                    }
                }

            }
        }
        
    }
}

@media all and (max-width: 744px){

    header{

        .content{

            .header-right{
                display: none;
            }

            .burger{
                display: flex;
            }
        }

        p-sidebar{
            display:block;
        }
        
    }
}