$colorBlue: #15385c;

header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 9999;
    height: 5.5em;
    padding-top: 10px ;
    padding-bottom: 10px;
    color: $colorBlue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: white;

    .content{

        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
        
        .logo{
            font-size: 1.8em;
            cursor: pointer;
            text-decoration: none;
            font-weight: 900;
            color: $colorBlue;

            span{
                color: #f56f36;
            }
        }
        
        .header-right{

            display: flex;
            align-items: center;
            font-weight: 480;
            justify-content: center;
            font-size: 1em;
    
            nav{

                display: flex;
                justify-content: center;
                align-items: center;

                ul{
                    display: flex;
                    list-style: none;
                    justify-content: center;
                    align-items: center;
                    margin: 0;
                
                    li{
                        margin-left: 7.5px;
                        cursor: pointer;

                        a{
                            text-decoration: none;
                            padding: 10px 20px;
                            color: $colorBlue;
                            border-radius: 3px;
                            transition: all 0.3s ease-in-out;
                            
                            &:hover{
                                background-color: $colorBlue;
                                color: white;
                            }
                        }

                        .active-link{
                            background: $colorBlue;
                            color: white;
                        }
                    }
                    
                }

                button{
                    border: none;
                    background: none;
                    outline: none;
                    margin-left: 15px;
                    cursor: pointer;
                    position: relative;
                    width: 87px;
                    height: 48px;

                    &:hover{
                        
                        span{
                            background-color: white;
                            color: #f56f36;
                            

                            fa-icon{
                                margin-left: 3px;
                            }
                        }
                    }

                    span{
                        white-space: nowrap;
                        color: white;
                        background: #f56f36;
                        border: 2px solid #f56f36;
                        font-size: 1em;
                        white-space: nowrap;
                        border-radius: 2px;
                        padding: 10px 20px;

                        fa-icon{
                            margin-left: 3px;
                        }
                    }

                    .menus{
                        position: absolute;
                        top: 100%;
                        right: 0;
                        background-color: white;
                        display: flex;
                        flex-direction: column;
                        border: 1px solid #828282;
                        align-items: flex-end;
                        padding: 10px;

                        a{
                            text-decoration: none;
                            padding: 10px 15px;
                            white-space: nowrap;
                            width: 100%;
                            text-align: right;
                            color: #15385d;
                            border-radius: 2px;
                            margin-top: 2px;

                            &:hover{
                                background: #15385d;
                                color: white;
                            }
                        }

                        .active-link{
                            background: $colorBlue;
                            color: white;
                        }
                    }
                    
                }

            }
            
        }

        .burger{

            display: none;
        }
    }
}


@media all and (max-width: 960px){

    header{
        height: 4.5em;

        .content{

            .logo{
                font-size: 1.6em;
            }

            .header-right{
                font-weight: 450;
                font-size: 14px;

                nav{

                    ul{
                        li{
                            a {
                                padding: 3px 8px;
                            }
                        }
                    }
                }

            }
        }
        
    }
}


@media all and (max-width: 744px){

    header{

        .content{

            .header-right{
                flex-direction: column;
                position: absolute;
                align-items: flex-end;
                justify-content: flex-start;
                top: calc(4.5em + 9px);
                width: 100%;
                min-height: 100vh;
                left: 0;
                padding: 30px;
                transform: translateX(100%);

                background-color: rgb(255, 255, 255);
                padding-right: 20px;

                nav{

                    align-items: flex-end;
                    flex-direction: column;
                    margin: 0;
                    padding: 0;

                    ul{
                        flex-direction: column;
                        align-items: flex-end;
                        padding: 0;

                        li{
                            margin: 20px 0 0 0;
                            font-size: 1.25em;
                        }    

                    }

                    button{
                        margin-right: 12px;
                        margin-top: 20px;
                        font-size: 1.25em;

                        .menus{
                            right: -12px;
                        }
                    }
                }

            }

            .toggle-nav{
                transform: translateX(0);
                transition: all 0.3s ease-in-out;
            }

            .burger{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                position: relative;
                z-index: 10;
                user-select: none;
                height: 40px;  
                width: 40px;    
                padding: 5px;      
                font-size: 2em;
                font-weight: bold;
                border-radius: 50%;

                input{
                    display: block;
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    top: 5px;
                    cursor: pointer;
                    opacity: 0; /* hide this */
                    z-index: 2; /* and place it over the hamburger */
                    user-select: none;
    
                }
    
                input:checked {
                    outline:none;
                    box-shadow: none;
                }
                
    
                span{
                    display: block;
                    width: 30px;
                    height: 2px;
                    position: relative;
                    
                    background: rgb(0, 0, 0);
                    border-radius: 3px;
                    
                    z-index: 1;
    
                    transform-origin: 0% 100%;
                    
                    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                                opacity 0.55s ease;
                }
    
                 
    
                    input:checked ~ span{
                        opacity: 1;        
                    }
    
                    input:checked ~ span:nth-last-child(1){
                        transform: rotate(-45deg) translate(3.5px, 3.5px);
                    }
        
                    input:checked ~ span:nth-last-child(2)
                    {
                        opacity: 0;                
                    }
    
                      input:checked ~ span:nth-last-child(3)
                    {
                        transform: rotate(45deg) translate(2px, -4px);
    
                    }
            }
            
        }
        
    }
}