<div class="home">
    <div class="hero">
        <div class="hero-content my-container">
            <img src="../../../assets/img/home/image-hero.jpg" alt="">
            <div class="texts">
                <span>Soutenons</span>
                <h1>Yves Tsala</h1>
                <span class="text">Pour une jeunesse dynamique, sportive et qui vit de ses talents !</span>
                <button routerLink="/programme">Voir le programme</button>
            </div>
        </div>

        <div class="ball"></div>
    </div>

    <div class="content my-container">
        <app-home-about></app-home-about>
        <h2 class="title"><span>Découvrez</span> Le QG De Campagne</h2>
    </div>

    <div class="qg-wrapper">
        <div class="qg-content my-container">
            <app-infinite-scroll-argument></app-infinite-scroll-argument>
        </div>
    </div>

    <div class="program-wrapper">
        <div class="program-content my-container">
            <h2 class="title"><span>Découvrez</span> Notre Programme</h2>
            <app-home-program></app-home-program>
        </div>
    </div>
        
    <div class="content my-container">
        <h2 class="title"><span>Découvrez</span> Quelques Témoignages</h2>
        <app-testimonies></app-testimonies>
    </div>

</div>
