.home{
    display: flex;
    flex-direction:column;
    width: 100%;
    align-items: center;
    min-height: 100vh;

    .hero{
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("../../../assets/img/home/background.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 80vh;
        overflow: hidden;


        &::after{
            position: absolute;
            width: 100%;
            height: 80vh;
            content: "";
            top: 0;
            left: 0;
            z-index: 0;
        }

        .hero-content{
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin-top: 100px;

            img{
                bottom: 0;
                width: 45vh;
                z-index: 1;
                border-radius: 50%;
            }

            .texts{
                display: flex;
                flex-direction: column;
                color: white;
                z-index: 1;
                border-radius: 5px;
                width: 423px;
                align-items: center;
                font-size: 1.2em;

                span:first-child{
                    align-self: flex-start;
                    font-style: italic;
                    font-weight: 900;
                    text-shadow: 1px 1px 2px #4e4e4e;
                    font-size: 1.3em;
                    width: 100%;
                    text-align: center;
                }

                h1{
                    font-family: 'gistesy';
                    margin: 15px 0;
                    color: #f56f36;
                    font-weight: 900;
                    font-size: 4em;
                    text-shadow: 1px 1px 2px black;
                }

                .text{
                    line-height: 28px;                
                    font-size: 1.25em;
                    font-weight: 100;
                    text-shadow: 1px 1px 2px #202020;
                    width: 100%;
                    text-align: center;
                }

                button{
                    width: fit-content;
                    padding: 10px 15px;
                    border-radius: 5px;
                    margin-top: 35px;
                    color: #f56f36;
                    cursor: pointer;
                    transition: all 0.2s ease-in;
                    font-weight: 700;
                    font-size: 1.02em;
                    border: none;

                    &:hover{
                        background-color: #f56f36;
                        color: white;
                    }
                }

            }
        }

        .ball{
            position: absolute;
            right: -10%;
            bottom: -15%;
            background-image: url("../../../assets/img/home/ball.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 23em;
            height: 23em;
        }



    }


    .content{
        padding-top: 5em;
        padding-bottom: 5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        h2{
            color: #f56f36;
            margin: 70px 0 30px 0;
            border-radius: 3px;
            width: 100%;

            span{
                padding: 10px 25px;
                color: white;
                background-color: #15385c;
                font-weight: bold;
                margin-right: 5px;
                border-radius: 3px;
            }
        }

        
        app-home-about,
        app-home-program,
        app-testimonies{
            width: 100%;
        }
    }

        .qg-wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            background-color: #ed6e34;

            .qg-content{
                width: 100%;
                app-infinite-scroll-argument{
                    width: 100%;
                }
            }
        }

        .program-wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            background-color: #dfdfdf;
            margin-top: 150px;

            .program-content{
                padding-top: 3em;
                padding-bottom: 3em;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                app-infinite-scroll-argument{
                    width: 100%;
                }
            }
        }

}

@media all and (max-width: 1110px){

    .home{

        .hero{

            .hero-content{
                img{
                    left: 4%;
                    width: 40vh;
                }
            }
        }
    }
}

@media all and (max-width: 990px){

    .home{

        .hero{

            height: 70vh;

            .hero-content{
                img{
                    left: 4%;
                    width: 38vh;
                }

                .texts{
                    align-items: center;
                    text-align: center;
                    width: 335px;

                    span:first-child{
                        text-shadow: 1px 1px 2px #4e4e4ede;
                        font-size: 1.15em;
                        width: 100%;
                    }

                    h1{
                        font-size: 3.3em;
                        text-shadow: 1px 1px 2px #0000009e;
                    }

                    .text{
                        line-height: 24px;
                        text-shadow: 1px 1px 2px #202020bd;
                        font-size: 1.15em;
                        
                    }

                    button{
                        padding: 7px 10px;
                        border-radius: 3px;
                        margin-top: 22px;
                        border: 2px solid #f56f36;
                        font-size: 0.9em;
                    }
                }
            }

            .ball{
                width: 17em;
                height: 17em;
            }

            &::after{
                height: 70vh;
            }
        }

        .content{

            h2{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                margin-bottom: 0;
                margin-top: 30px;
                
                span{
                    margin-right: 0px;
                    margin-bottom: 15px;
                    border-radius: 3px;
                }
            }
        }
    }
}

@media all and (max-width: 930px){

    .home{

        .content{

            h2{

                margin-top: 10px;

            }
        }
    }
}

@media all and (max-width: 960px){

    .home{

        .hero{

            .hero-content{
                .texts{

                    .texts{
                        font-size: 0.9em;
                        width: 280px;
                    }

                    .text{
                        line-height: 22px;
                        font-size: 1.10em;
                    }

                    button{

                        margin-top: 20px;
                    }
                }
            }

            .ball{
                width: 15em;
                height: 15em;
            }
        }
    }
}


@media all and (max-width: 768px){

    .home{

        .hero{

            .hero-content{

                img{
                    left: 0;
                    width: 30vh;
                }

                .texts{

                    font-size: 0.9em;
                        width: 280px;

                    h1{
                        text-shadow: 1px 1px 2px #000000bf;
                    }

                }
            }

            .ball{
                width: 13em;
                height: 13em;
            }
        }
    }
}

@media all and (max-width: 660px){

    .home{

        .hero{
            min-height: 100vh;
            height: fit-content;
            padding: 5em 0 1em 0;

            .hero-content{

                align-items: center;
                flex-direction: column;
                padding: 0;
                margin: 0;

                img{
                    position: unset;
                    left: 0;
                    width: 33vh;
                    margin-bottom: 50px;
                }
                
                .texts{

                    width: 284px;
                    margin: 0;

                    h1{
                        font-size: 4em;
                        text-shadow: 1px 1px 2px #000000bf;
                    }

                    .text{
                        line-height: 20px;
                        font-size: 1.05em;
                    }

                }
            }

            .ball{

                display: none;
            }
        }
    }
}

@media all and (max-width: 425px){

    .home{

        .hero{

            .hero-content{

                img{

                    width: 30vh;
                }
                
                .texts{

                    width: 284px;
                    margin: 0;

                    .text{
                        line-height: 23px;
                    }

                }
            }

        }
    }
}

