$color: #15385c;

.about{
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin: 50px 0 80px 0;

    img{
        object-fit: cover;
        width: 50%;
        height: 27em;
        border-radius: 10px;
        object-position: top;
    }

    .texts{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: white;
        padding: 25px 25px;
        left: 45%;
        border: 3px solid #15385c;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

        .header{

            color: #f56f36;
        }

        p{
            margin: 10px 0 30px 0;
        }

        button{
            text-decoration: none;
            padding: 10px 15px;
            background: $color;
            color: white;
            border-radius: 3px;
            border: 2px solid $color;
            transition: all 0.2s ease-in;
            cursor: pointer;

            &:hover{
                background-color: white;
                color: $color;
            }
        }
    }
}

@media all and (max-width: 880px){

    .about{
        position: unset;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0px 0 50px 0;

        img{
            width: 95%;
            height: 17em;
        }

        .texts{
            transform: none;
            position: unset;
            background-color: white;
            box-shadow: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-top: 30px;
            padding:0;

            .header{
                font-size: 1.3em;
                text-align: center;
            }
        }
        
    }
}
