<div class="program-long">

    <div class="title">
        <div class="top-content my-container">
            <h1>PROGRAMME PAR THÉMATIQUE</h1>
            <p>Découvrez mes propositions pour agir et transformer notre potentiel en performance réelle et redonner à tous les acteurs majeurs du baskets-ball camerounais la place qu'ils méritent.</p>
        </div>
    </div>

    <div class="content my-container">
            <div class="nav">
                
                <ul>
                    <ng-template ngFor let-menu [ngForOf]="menus"; let-i="index">
                        <li>
                            <button [ngClass]="menu.opened? 'active-button': ''" (click)="onActivateMenu(menu.index)">{{menu.label}}</button>
                        </li>
                    </ng-template>
                </ul>
            </div>

        <div class="nav-content">

                <div class="texts">

                    <h3>Sommaire</h3>
                    
                    <ng-template ngFor let-datas [ngForOf]="thematiqueDatas">
                        <div *ngIf="datas.label == 'Nos propositions';else normal" class="data">
                            <h4> {{datas.label}} </h4>
                            <ul>
                                <ng-template ngFor let-paragraph [ngForOf]="datas.paragraphs">
                                    <li>{{paragraph.text}} </li>
                                </ng-template>
                            </ul>
                        </div>
                        
                        <ng-template #normal >
                            <div class="data">
                            <h4> {{datas.label}} </h4>
                            <ng-template ngFor let-paragraph [ngForOf]="datas.paragraphs">
                                <p>{{paragraph.text}} </p>
                            </ng-template>
                        </div>
                        </ng-template>

                        
                    </ng-template>

                </div>

                <img src={{thematiqueImage}}>
        </div>
    </div>

</div>
