$colorBlue: #15385c;

.program-long{
    display: flex;
    flex-direction:column;
    width: 100%;
    align-items: center;
    min-height: 100vh;

    .title{
        width: 100%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: $colorBlue;

        .top-content{

            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;
            justify-content: center;

            h1{
                color: #ed6e34;
                width: 460px;
                text-align: center;
                margin-top: 90px;
                font-size: 2.5em;
                margin-bottom: 30px;
            }

            p{
                max-width: 80%;
                text-align: center;
                color: white;
                line-height: 28px;
            }
        }
    }

    .content{
        padding-top: 5em;
        padding-bottom: 5em;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

            .nav{
                width: 100%;

                ul{
                    list-style: none;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;

                    li{
                        margin: 0 10px 15px 10px;
                        width: fit-content;
                        white-space: nowrap;

                        button{
                            cursor: pointer;
                            background: white;
                            padding: 10px 20px;
                            width: 100%;
                            border-radius: 2px;
                            border-width: 7px;
                            border-style: solid;
                            border-image: linear-gradient(90deg, #059e0500 0%, #cf000000 100%);
                            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

                            &:hover{
                                border-image: linear-gradient(90deg, rgba(21,56,92,1) 44%, rgba(245,111,54,1) 100%) 1;
                            }
                        }

                        .active-button{
                            border-image: linear-gradient(90deg, rgba(21,56,92,1) 44%, rgba(245,111,54,1) 100%) 1;
                        }
                    }
                }
            
        }

        .nav-content{
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 75px;

            img{
                width: 30%;
                margin-left: 7%;
                height: fit-content;
            }

            .texts{
                width: 100%;

                h3{
                    font-size: 1.6em;
                    font-weight: 900;
                    margin-bottom: 25px;
                }

                .data{
                    display: flex;
                    flex-direction: column;
                    margin-top: 20px;

                    ul{
                        padding-left: 35px;
                    }

                    h4{
                        margin-bottom: 7px;
                        font-size: 1.2em;
                    }

                    p,li{
                        color: #171717;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 1000px){
    .program-long{
        .content{
            .nav{
                overflow:hidden;

                ul{
                    flex-wrap: nowrap;
                    justify-content: flex-start;
                    overflow-x: scroll;

                    li{
                        margin: 0 10px 15px 0px;
                    }
                }
            }

            .nav-content{
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-top: 75px;
    
                img{
                    width: 30%;
                }
    
                .texts{
                    width: 100%;
    
                    h3{
                        font-size: 1.4em;
                    }
    
                    .data{
                        h4{
                            font-size: 1.1em;
                        }

                        p,li{
                            font-size: 0.9em;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 768px){
    .program-long{
        .content{
            padding-top: 3.5em;
            padding-bottom: 4em;
            .nav{
                ul{
                    li{
                        button{
                            border-width: 3px;
                            padding: 5px 10px;
                        }
                    }
                }
            }

            .nav-content{
                flex-direction: column-reverse;
                align-items: center;
                margin-top: 50px;
                img{
                    width: 50%;
                    margin-left: 0;
                }
    
                .texts{
                    text-align: center;
                    margin-top: 50px;
                    h3{
                        font-size: 1.4em;
                    }
    
                    .data{
                        h4{
                            font-size: 1.1em;
                        }

                        p,li{
                            font-size: 0.9em;
                        }

                        ul{
                            text-align: initial;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 580px){
    .program-long{
        .title{
            min-height: fit-content;
            .top-content{
                h1{
                    width: 100%;
                    font-size: 2em;
                    margin-bottom: 25px;
                }
                p{
                    max-width: 100%;
                    line-height: 25px;
                    margin-bottom: 10px;
                }
            }
        }

        .content{
            .nav-content{
                img{
                    width: 260px;
                }
            }
        }
    }
}
