$colorBlue: #15385c;

.program{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    .title{
        width: 100%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: $colorBlue;

        .top-content{

            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;
            justify-content: center;

            h1{
                color: #ed6e34;
                width: 460px;
                text-align: center;
                margin-top: 90px;
                font-size: 2.5em;
                margin-bottom: 30px;
            }

            p{
                max-width: 80%;
                text-align: center;
                color: white;
                line-height: 28px;
            }
        }
    }
    
    .program-top{
        width: 100%;
        padding-top: 3em;
    }

    .program-videos{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 80px;

            h2{
                color: #f56f36;
                margin-bottom: 50px;
                border-radius: 3px;
    
                span{
                    padding: 10px 25px;
                    color: white;
                    background-color: #15385c;
                    font-weight: bold;
                    margin-right: 5px;
                    border-radius: 3px;
                }
            }
        

        .videos{
            display: flex;
            justify-content: space-between;
            margin: 60px 0;

            .video{
                width: 300px;
                height: fit-content;
                cursor: pointer;
                position: relative;
                box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
                border-radius: 6px;
                overflow: hidden;

                &:hover{
                    box-shadow: #ed6e34 0px 20px 30px -10px;
                }

                &::after{
                    position: absolute;
                    content: "";
                    z-index: 1;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 260px;
                    background-color: #00000045;
                }

                img{
                    height: 260px;
                    width: 100%;
                    object-fit: cover;
                    position: relative;
                    z-index: 1;
                    margin-bottom: 10px;
                }

                .pi-youtube{
                    position: absolute;
                    top: 32%;
                    left: 50%;
                    transform: translateX(-50%);
                    color: red;
                    z-index: 2;
                    font-size: 4em;
                }

                .video-title{
                    margin: 10px;
                }

                .clock{
                    display: flex;
                    align-items: center;
                    color: #ed6e34;;
                    margin: 10px;

                    .pi-clock{
                        position: inherit;
                        font-size: 1.5em;
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    .blue-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 5em;

        .image-texts{
            display: flex;
            border-radius: 20px;
            width: 100%;
            height: fit-content;
            overflow: hidden;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            background: #15385d;
            color: white;

            img{
                width: 330px;
                object-fit: cover;
            }

            .texts{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 40px;

                .colored{
                    font-size: 1.7em;
                    margin: 0 0 8px 0;

                    span{
                        color: #ed6e34;
                    }
                }

                p{
                    font-size: 1em;
                }

                .buttons{
                    display: flex;

                    button{
                        width: 197px;
                        border: none;
                        padding: 10px;
                        border-radius: 2px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #15385d;
                        cursor: pointer;
                        transition: all 0.2s ease-in-out;
                        margin-top: 30px;
                        background: white;

                        i{
                            font-size: 1.4em;
                            margin-right: 10px;
                        }
                    }

                    .share{
                        border: 2px solid #15385d;
        
                        &:hover{
                            background: #15385d;
                            color: white;
                        }
                    }

                    .donate{
                        border: 2px solid #f56f36;
                        background-color: #f56f36;
                        margin-left: 15px;
                        color: white;

                        &:hover{
                            background: white;
                            color: #f56f36;
                        }
                    }
                }
            }
        }
    }
}


    @media all and (max-width: 1370px){

        .program{
    
            .program-videos{
                
                overflow: hidden;

                .videos{
                    overflow-x: scroll;
                    padding: 30px 0;
                    margin: 30px 0 0 0;

                    .video{

                        flex: 1 0 auto;
                        margin: 0 10px;
                        &::after{
                            height: 200px;
                        }
    
                        img{
                            height: 200px;
                        }
                    }
                }
            }
        }
    }


@media all and (max-width: 865px){

    .program{

        .program-videos{

            h2{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                margin-bottom: 0;

                span{
                    margin-right: 0px;
                    margin-bottom: 15px;
                    border-radius: 3px;
                }
            }

            span{
                text-align: center;
                margin-top: 30px;
            }
        }

        .blue-box{
            width: 100%;

            .image-texts{

                img{
                    width: 250px;
                }

                .texts{
                    padding: 20px;
                }
            }
        }
    }
}

@media all and (max-width: 755px){

    .program{

        .blue-box{
            width: 100%;

            .image-texts{
                
                img{
                    width: 250px;
                }

                .texts{
                    
                    .buttons{
                        flex-direction: column;

                        button{
                            margin-top: 15px;
                        }

                        .donate{
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 685px){

    .program{

        .blue-box{
            width: 100%;

            .image-texts{
                flex-direction: column;
                align-items: center;
                box-shadow: none;
                overflow: unset;
                padding: 12px;
                
                img{
                    border-radius: 5px;
                    width: 335px;
                    margin-bottom: 20px;
                }

                .texts{
                    padding: 0;
                    text-align: center;
                    align-items: center;

                    .buttons{
                        flex-direction: row;

                        button{
                            margin-top: 15px;
                        }

                        .donate{
                            margin-left: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 520px){

    .program{
        .title{
            min-height: fit-content;
            .top-content{
    
    
                h1{
                    width: 100%;
                    font-size: 2em;
                    margin-bottom: 25px;
                }
    
                p{
                    max-width: 100%;
                    line-height: 25px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@media all and (max-width: 465px){

    .program{

        .blue-box{
            .image-texts{

                img{
                    width: 100%;
                }

                .texts{
                    width: 100%;

                    .buttons{
                        flex-direction: column;
                        align-items: center;

                        button{
                            margin-top: 15px;
                        }

                        .donate{
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}