<div class="program">

    <div class="title">
        <div class="top-content my-container">
            <h1>PROGRAMME</h1>
            <p>Découvrez mes propositions pour agir et transformer notre potentiel en performance réelle et redonner à tous les acteurs majeurs du baskets-ball camerounais la place qu'ils méritent.</p>
        </div>
    </div>

    <div class="program-top my-container">
        <app-home-program></app-home-program>
    </div>

    <div class="program-videos my-container">
        <h2><span>Découvrez</span> Le Programme en vidéo</h2>
        <p>Une image valant mille mots, nous ne pouvons plus attendre. Il faut transformer le basketball en profondeur dans toutes les régions.</p>
        <p>De l'Extrême-Nord au Sud, nous présentons notre programme pour un avenir en commun. L'union de tous les acteurs de la balle orange nous donne une force irrésistible; nous sommes prêts à prendre le relais.</p>
        
        <div class="videos">
            <div class="video">
                <img src="../../../assets/img/home/candidates/candidat.jpeg" alt="">
                <i class="pi pi-youtube"></i>
                <span class="video-title">L'essentiel du programme</span>
                <span class="clock">
                    <i class="pi pi-clock"></i>
                    03:20
                </span>
            </div>
            <div class="video">
                <img src="../../../assets/img/agenda/campain-crtv.png" alt="">
                <i class="pi pi-youtube"></i>
                <span class="video-title">La vision sportive</span>
                <span class="clock">
                    <i class="pi pi-clock"></i>
                    03:20
                </span>
            </div>
            <div class="video">
                <img src="../../../assets/img/home/candidates/imag.jpeg" alt="">
                <i class="pi pi-youtube"></i>
                <span class="video-title">Les compétitions internationnales</span>
                <span class="clock">
                    <i class="pi pi-clock"></i>
                    03:20
                </span>
            </div>
        </div>
    
    </div>

    <div class="blue-box my-container">
        <div class="image-texts">
            <img src="../../../assets/img/program/imag.jpeg" alt="">
            <div class="texts">
                <h3 class="colored">En soutenant
                    <span>Yves Tsala</span> ,</h3>
                <p>vous pouvez porter ce programme auprès des électeurs et dans les régions.</p>
                <div class="buttons">
                    <button class="share" routerLink="/partager-la-campagne"> <i class="pi pi-share-alt"></i>Partagez la campagne</button>
                    <button class="donate" routerLink="/faire-un-don"> <i class="pi pi-heart"></i>Faire un don</button>
                </div>
            </div>
        </div>
    </div>
</div>