<div class="program-short">

    <div class="hero-page">
        <div class="content my-container">
            <img src="../../../assets/img/program/image_sin.png" alt="">
            <h1>J'aide à obtenir plus de signatures​ !</h1>
        </div>
    </div>

    <div class="content my-container">
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis eveniet iste vel obcaecati, quis cum corporis, cumque non accusamus amet possimus. Consectetur quisquam non ipsa, ex facere debitis assumenda natus!</span>
    </div>

</div>
