<div class="program-short">

    <div class="title">
        <div class="top-content my-container">
            <h1>PROGRAMME EN VERSION COURTE</h1>
            <p>Pour financer les dépenses liées à l’organisation d’événements, à l’achat de matériel, au fonctionnement de ce site, etc, nous avons besoin du soutien financier de chacun(e) d’entre vous</p>
        </div>
    </div>

    <div class="content my-container">
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis eveniet iste vel obcaecati, quis cum corporis, cumque non accusamus amet possimus. Consectetur quisquam non ipsa, ex facere debitis assumenda natus!</span>
    </div>

</div>
