<div class="program">
    <div class="texts">
        <div class="header">
            <p>Draw A New Vision</p>
            <p>UN PETIT TEXTE ICI QUI EN DIT LONG</p>
        </div>
        <div class="tabs">
            <div class="tab" routerLink="/programme/version-courte">
                <fa-icon [icon]="faClock"></fa-icon>
                <div class="tab-texts">
                    <p class="top">Le programme en version courte</p>
                    <p class="bottom">Découvrez une version simple et alléger du programme</p>
                </div>
                <fa-icon [icon]="faAngleRight"></fa-icon>

            </div>

            <div class="tab" routerLink="/programme/version-longue">
                <fa-icon [icon]="faThLarge"></fa-icon>
                <div class="tab-texts">
                    <p class="top">Le programme par thématique</p>
                    <p class="bottom">Découvrez le programme </p>
                </div>
                <fa-icon [icon]="faAngleRight"></fa-icon>
            </div>

        </div>
        <p class="call-to-donate">Soutenez le candidat Yves TSALA en <span routerLink="/faire-un-don">faisant un don</span></p>
    </div>
    <img src="../../assets/img/home/program/program.png" alt="">
</div>