.program{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 40px 0 80px 0;
    
    img{
        width: 300px;
    }

    .texts{
        display: flex;
        flex-direction: column;
        margin-right: 100px;
        width: 50%;

        .header{
            color: #15385c;

            p{
                font-size: 2em;
                font-weight: 700;
            }
            p:last-child{
                font-size: 0.9em;
                font-size: 500;
            }
        }

        .tabs{
            display:flex;
            flex-direction: column;
            margin-top: 30px;

            .tab{
                border: 1px solid #00000057;
                padding: 20px;
                display: flex;
                align-items: center;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                background: white;

                fa-icon:first-child{
                    font-size: 2em;
                    color: #f56f36;
                }

                .tab-texts{
                    margin: 0 15px;
                    width: 100%;
                    .top{
                        font-weight: 700;
                        font-size: 1.1em;
                    }

                    .bottom{
                        margin-top: 2px;
                        color: #202020;
                        font-size: 0.9em;
                    }
                }

                fa-icon:last-child{
                    color: #00000094;
                }

                &:last-child{
                    border-top: none;
                }

                &:hover{
                    border: 1px solid #ffffff;
                    box-shadow: #f56f36 0px 13px 27px -5px, #f56f36 0px 8px 16px -8px;
                }
                
            }
        }

        .call-to-donate{
            display: flex;
            font-size: 0.9em;
            margin-top: 20px;

            span:first-child{
                font-weight: 500;
                margin: 0 5px;
            }

            span:last-child{
                font-weight: bold;
                color: black;
                position: relative;
                margin-left: 5px;
                cursor: pointer;

                &::after{
                    content: "";
                    width: 100%;
                    height: 1px;
                    background: black;
                    position: absolute;
                    bottom: -3px;
                    left: 0;


                }

                &:hover{
                    font-weight: 900;
                    color: #f56f36;

                    &::after{
                        background: #f56f36;
                    }
                }
            }
        }
    }

}

@media all and (max-width: 880px){

    .program{

        flex-direction: column-reverse;

        img{
            width: 250px;
        }

        .texts{
            margin-right: 0;
            margin-top: 40px;
            width: 100%;
            align-items: center;

            .header{
                font-size: 1.3em;
                text-align: center;
            }
        }
        
    }
}

@media all and (max-width: 490px){

    .program{

        img{
            width: 220px;
        }

        .texts{

            .header{
                font-size: 1.1em;
            }

            .tabs{

                .tab{
                    flex-direction: column;
                    padding: 20px 10px;
                
                    .tab-texts{
                        text-align: center;
                    }

                    fa-icon:last-child{
                        display: none;
                    }
                }
            }

            .call-to-donate{
                flex-direction: column;
                text-align: center;
                span{
                    margin-top: 15px;
                    margin-left: 0;

                    &::after{
                        left: 50%;
                        top: 20px;
                        transform: translateX(-50%);
                    }
                }
            }
        }
        
    }
}