::ng-deep {
    .p-dialog {
      max-height: 100%;
      width: 60%;
      padding-bottom: 40px;
      background: white;

      .p-dialog-header {

        padding: 10px;

        .p-dialog-header-icons {
            border-radius: 50%;
            background: white;

            span{
                color: #15385c;
            }
        }
      }

        .p-dialog-content{
            padding: 0;
        }
    }
}

.youtube-player{
    max-height: 75vh;
    display: flex;
    justify-content: flex-start;
    width: 100%;

    .content{
        width: 100%;
        padding: 0 55px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title{
            display: flex;
            justify-content: center;
            height: 100%;
            width: 100%;
            margin-bottom: 37px;

            .left{
                display: flex;
                flex-direction: column;
                margin-right: 20px;
                
                .top{
                    font-size: 2em;
                    margin-bottom: 0;
                    font-weight: 700;
                }
                .bottom{
                    text-align: right;
                }
            }

            .right{
                display: flex;
                flex-direction: column;
                .top{
                    display: flex;
                    align-items: baseline;
                    margin-bottom: 0;
                    flex-direction: row;
                    .main{
                        color: #ed6e34;
                        margin-right: 5px;
                        font-size: 2em;
                        font-weight: 700;
                    }
                    .other{
                        font-weight: 100;
                        font-size: 0.9em;
                    }
                    
                }

                .bottom{
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;

                    .main{
                        color: #ed6e34;
                        font-weight: 100;
                        font-size: 0.9em;
                    }

                    .other{
                        font-family: 'gistesy';
                    }
                }
                
            }
        }

        iframe{
            width: 100%;
            height: 300px;
        }
    }
}

@media all and (max-width: 1030px){

    ::ng-deep {
        .p-dialog {
          width: 80%;
        }
    }
}

@media all and (max-width: 768px){

    ::ng-deep {
        .p-dialog {
          width: 100%;
        }
    }

    .youtube-player{
        .content{
            padding: 0 20px;
        }
    }
}

@media all and (max-width: 540px){
    .youtube-player{
        .content{
            .title{
                margin-bottom: 35px;
    
                .left{
                    margin-right: 15px;
                    .top{
                        font-size: 1.4em;
                    }
                    .bottom{
                        font-size: 0.85em;
                    }
                }
    
                .right{
                    .top{

                        .main{
                            font-size: 1.4em;
                        }
                        .other{
                            font-size: 0.85em;
                        }
                    }
    
                    .bottom{
                        .main{
                            font-size: 0.85em;
                        }
                    }
                    
                }
            }
        }
    }
}

@media all and (max-width: 425px){

    .youtube-player{
        border: solid red;
        .content{
            .title{
    
                .left{
                    margin-right: 10px;
                    .top{
                        font-size: 1.1em;
                        letter-spacing: -1px;
                    }
                    .bottom{
                        font-size: 0.85em;
                        letter-spacing: -1px
                    }
                }
    
                .right{
                    .top{

                        .main{
                            font-size: 1.1em;
                            letter-spacing: -1px;
                        }
                        .other{
                            font-size: 0.85em;
                        }
                    }
    
                    .bottom{
                        .main{
                            letter-spacing: -1px
                        }
                    }
                    
                }
            }
        }
    }
}