<div class="youtube-player">
    <div class="content my-container">

        <div class="title">

            <div class="left">
                <span class="top">MON PROJET</span>
                <span class="bottom">POUR LE</span>
            </div>

            <div class="right">
                <div class="top">
                    <span class="main">BASKETBALL</span>
                    <span class="other">2022</span>
                </div>
                <div class="bottom">
                    <span class="main">CAMEROUNAIS</span>
                    <span class="other">Yves Tsala</span>
                </div>
            </div>
        </div>

        <iframe [src]="link" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
    </div>
</div>