<div class="agenda">

    <div class="title">
        <div class="top-content my-container">
            <h1>AGENDA</h1>
            <p>Mon calendrier au service des joueurs, des entraineurs, des officiels, des dirigeants et des électeurs.</p>
        </div>
    </div>

    <div class="content my-container">
        <p-tabView>
            <p-tabPanel header="Tous les événements">
                <div class="events">

                    <ng-template  ngFor let-event [ngForOf]="allEvents">
                        <div class="event" (click)="showVideo(event.link, event.source)">
                            <div class="left">
                                <p class="header"> {{event.title}} </p>
                                <p class="date">{{event.date.normal}}, <span>{{event.hour}}</span> </p>
                                <p class="text">{{event.text}}</p>
                                <div class="video-bloc" *ngIf="event.link">
                                    <span *ngIf="event.source== 'youtube'" class="video youtube">
                                        <i class="pi pi-youtube"></i> 
                                        Voir la vidéo
                                    </span>
                                    <span *ngIf="event.source== 'facebook'" class=" video facebook">
                                        <i class="pi pi-facebook"></i> 
                                        Voir la vidéo
                                    </span>
                                </div>
                            
                            </div>
                            <img src={{event.image}} alt="">
                        </div>
                    </ng-template>
                   
                </div>
            </p-tabPanel>
            <p-tabPanel header="Événements passés">
                <div class="events">
                    <ng-template  ngFor let-event [ngForOf]="pastEvents">
                        <div class="event" (click)="showVideo(event.link, event.source)">
                            <div class="left">
                                <p class="header"> {{event.title}} </p>
                                <p class="date">{{event.date.normal}}, <span>{{event.hour}}</span> </p>
                            <p class="text">{{event.text}}</p>
                            <div class="video-bloc" *ngIf="event.link">
                                <span *ngIf="event.source== 'youtube'" class="video youtube">
                                    <i class="pi pi-youtube"></i> 
                                    Voir la vidéo
                                </span>
                                <span *ngIf="event.source== 'facebook'" class=" video facebook">
                                    <i class="pi pi-facebook"></i> 
                                    Voir la vidéo
                                </span>
                            </div>
                            </div>
                            <img src={{event.image}} alt="">
                        </div>
                    </ng-template>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Événements prochains">
                <div class="events">
                    <div class="event" *ngIf="nextEvents.length == 0">
                        <span>Pas de prochains événements, veuillez revenir plus tard. </span>
                    </div>
                    <ng-template  ngFor let-event [ngForOf]="nextEvents">
                        <div class="event" (click)="showVideo(event.link, event.source)">
                            <div class="left">
                                <p class="header"> {{event.title}} </p>
                                <p class="date">{{event.date.normal}}, <span>{{event.hour}}</span> </p>
                            <p class="text">{{event.text}}</p>
                            <div class="video-bloc" *ngIf="event.link">
                                <span *ngIf="event.source== 'youtube'" class="video youtube">
                                    <i class="pi pi-youtube"></i> 
                                    Voir la vidéo
                                </span>
                                <span *ngIf="event.source== 'facebook'" class=" video facebook">
                                    <i class="pi pi-facebook"></i> 
                                    Voir la vidéo
                                </span>
                            </div>
                            </div>
                            <img src={{event.image}} alt="">
                        </div>
                    </ng-template>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>