$colorBlue: #15385c;

.agenda{
    display: flex;
    flex-direction:column;
    width: 100%;
    align-items: center;
    min-height: 100vh;

    .title{
        width: 100%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: $colorBlue;

        .top-content{

            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;
            justify-content: center;

            h1{
                color: #ed6e34;
                width: 460px;
                text-align: center;
                margin-top: 90px;
                font-size: 2.5em;
                margin-bottom: 30px;
            }

            p{
                max-width: 80%;
                text-align: center;
                color: white;
                line-height: 28px;
            }
        }
    }

    .content{
        padding-top: 5em;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

                    .events{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        max-width: 80%;
                        margin: auto;
                        padding: 70px 0;

                        .event{
                            display: flex;
                            width: 100%;
                            margin-bottom: 55px;
            
                            .left{
                                display: flex;
                                flex-direction: column;
                                margin-right: 40px;
            
                                .header{
                                    font-size: 1.3em;
                                    margin-bottom: 10px;
                                    color:  #f56f36;
                                }
            
                                .date{
                                    color: black;
                                    margin-bottom: 10px;
                                    font-weight: 700;

                                    span{
                                        font-weight: 300;
                                    }
                                }
            
                                .text{
                                    font-size: 0.95em;
                                }

                                .video{
                                    text-decoration: none;
                                    color: rgb(34, 34, 34);
                                    display: flex;
                                    margin-top: 20px;
                                    align-items: center;
                                    cursor: pointer;

                                    &:hover{
                                        color: red;
                                    }

                                    i{
                                        margin-right: 10px;
                                        font-size: 1.4em;
                                    }
                                }
                            }
            
                            img{
                                object-fit: cover;
                                width: 250px;
                                height: 200px;
                                border-radius: 5px;
                            }
                        }
                    }
    
    }
}

@media all and (max-width: 1120px){

    .agenda{

        .content{

            .events{

                max-width: 90%;

                .event{
                    img{
                        height: 160px;
                    }
                }

            }
        
        }
   
    }
}

@media all and (max-width: 880px){

    .agenda{
        .content{
            .events{
                max-width: 100%;
            }
        }
    }
}

@media all and (max-width: 680px){

    .agenda{
        .content{
            .events{
                .event{
                    flex-direction: column-reverse;
                    text-align: center;
                    align-items: center;

                    img{
                        width: 370px;;
                        height: 200px;
                        margin-bottom: 15px;
                    }

                    .left{
                        margin: 0;
                        align-items: center;
                        
                    }

                    
                }
            }
        }
    }
}

@media all and (max-width: 520px){

    .agenda{
        .title{
            min-height: fit-content;
            .top-content{
    
    
                h1{
                    width: 100%;
                    font-size: 2em;
                    margin-bottom: 25px;
                }
    
                p{
                    max-width: 100%;
                    line-height: 25px;
                    margin-bottom: 10px;
                }
            }
        }

        .content{

            .p-tabview .p-tabview-panels {
                padding: 0;
            }
            .events{
                .event{
             
                    width: 100%;
                    img{
                        width: 100%;
                        height: 160px;
                        margin-bottom: 15px;
                    }

                    .left{
                        width: 100%;
                        
                    }

                    
                }
            }
        }
   
    }
}