<div class="share">

    <div class="title">
        <div class="top-content my-container">
            <h1>PARTAGER LA CAMPAGNE</h1>
            <p>Pour financer les dépenses liées à l’organisation d’événements, à l’achat de matériel, au fonctionnement de ce site, etc, nous avons besoin du soutien financier de chacun(e) d’entre vous</p>
        </div>
    </div>

    <div class="content my-container">

        <div class="sharing-ways">
            <div class="ways-contener">
                
                <a 
                    href="whatsapp://send?text=GFG Example for whatsapp sharing"
                    data-action="share/whatsapp/share"
                    target="_blank"
                    class="whatsapp"
                >
                    <i class="pi pi-whatsapp"></i> 
                    Partager sur Whatsapp
                </a>
                <a 
                    target="_blank" 
                    href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Felites-voyages.com%2F&amp;src=sdkpreparse"
                    class="facebook"
                >
                    <i class="pi pi-facebook"></i> 
                    Partager sur Facebook
                </a>
                <a 
                    target="_blank"  
                    class="twitter"
                > 
                    <i class="pi pi-twitter"></i> 
                    Partager sur Twitter
                </a>

                <a 
                    href="mailto:?subject=Ici%20on%20renseigne%20le%20sujet%20du%20mail&body=Le corps du mail se met ici %2C%20%0A%0A et ici aussi"
                >
                    <i class="pi pi-envelope"></i> 
                    Partager par e-mail
                </a>
                <a 
                    (click)="copyText('https://tructruc.com')" 
                    tooltipPosition="bottom" 
                    tooltipEvent="focus" 
                    pTooltip= "Lien copié" 
                > 
                    <i class="pi pi-link"></i> 
                    Copier le lien
                </a>
            </div>
        </div>
        
    </div>
</div>
