.program{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 40px 0 80px 0;
    
    img{
        width: 600px;
    }

    .texts{
        display: flex;
        flex-direction: column;
        margin-right: 100px;
        width: 50%;

        .header{
            color: #15385c;

            p:first-child{
                font-size: 2em;
                font-weight: 700;
                color: #15385c; 
                             
                &::first-letter {
                    color: #f56f36;
                }
            }
            p:last-child{
                color: #15385c;
                font-size: 0.95em;
                font-size: 500;
            }
        }

        .tabs{
            display:flex;
            flex-direction: column;
            margin-top: 30px;

            .tab{
                border: 1px solid #ffffff57;
                padding: 20px;
                display: flex;
                align-items: center;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                background: #15385c;

                fa-icon:first-child{
                    font-size: 2em;
                    color: #f56f36;
                }

                .tab-texts{
                    margin: 0 15px;
                    width: 100%;
                    color: white;

                    .top{
                        font-weight: 700;
                        font-size: 1.1em;
                    }

                    .bottom{
                        margin-top: 2px;
                        font-size: 0.9em;
                        font-weight: 100px;
                    }
                }

                fa-icon{
                    color: white;
                }

                &:last-child{
                    border-top: none;
                }

                &:hover{
                    border: 1px solid #ffffff;
                    box-shadow: #f56f36 0px 13px 27px -5px, #f56f36 0px 8px 16px -8px;
                }
                
            }
        }

        .call-to-donate{
            display: flex;
            font-size: 0.9em;
            margin-top: 20px;

            span{
                font-weight: bold;
                color: black;
                position: relative;
                margin-left: 5px;
                display: flex;
                cursor: pointer;

                &::after{
                    content: "";
                    width: 100%;
                    height: 1px;
                    background: black;
                    position: absolute;
                    bottom: -3px;
                    left: 0;

                }

                &:hover{
                    font-weight: 900;
                    color: #f56f36;

                    &::after{
                        background: #f56f36;
                    }
                }

                i{
                    display: none;
                }
            }
        }
    }
}

@media all and (max-width: 1245px){

    .program{        
        img{
            width: 450px;
        }
    }
}

@media all and (max-width: 1040px){

    .program{

        flex-direction: column-reverse;

        img{
            width: 550px;
        }

        .texts{
            margin-right: 0;
            margin-top: 40px;
            width: 100%;
            align-items: center;

            .header{
                font-size: 1.3em;
                text-align: center;
            }
        }
        
    }
}

@media all and (max-width: 600px){
    .program{
        img{
            width: 100%;
        }
    }
}

@media all and (max-width: 490px){
    .program{
        .texts{
            .header{
                font-size: 1.1em;
            }

            .tabs{
                .tab{
                    flex-direction: column;
                    padding: 20px 10px;
                
                    .tab-texts{
                        text-align: center;
                    }

                    fa-icon:last-child{
                        display: none;
                    }
                }
            }

            .call-to-donate{
                flex-direction: column;
                text-align: center;
                

                span{
                    padding: 10px 15px;
                    border: 1px solid #ed6e34;
                    width: fit-content;
                    margin: auto;
                    margin-top: 10px;
                    background: #ed6e34;
                    color: white;
                    border: none;

                    &::after{
                        content: none;
                    }

                    &:hover{
                        background: white;
                        color: #ed6e34;
                    }

                    i{
                        display: block;
                        margin-right: 10px;
                        font-size: 1.2em;
                    }
                }
            }
        }
        
    }
}